/* Styles for Mobile Site */
h1 {
    color: #49DEAE;
}
body {
    background-color: #497DDE;
}
/* Header & Hero */
header {
    font-family: Poppins, "Times New Roman", serif;
    font-size: large;
    border: 2px solid #49DE7C;
    text-align: center;
    margin-bottom: 0.5em;
}

header img {
    width: 100%;
    max-width: 100px;
}

header p {
    color: #49DEAE
}

/* Projects */
#projects {
    display: grid;
    gap: 20px;
    text-align: center;
}

#projects img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image within its container */
}

#projects h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

/* Reviews */

/* Footer */
footer {
    text-align: center;
}


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */
    #projects {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Reviews */

    /* Footer */

}