/* Styles for Mobile Site */
h1 {
    color: #01AAF5;
}
body {
    background-color: #01AAF5;
}

/* Header & Hero */
header {
    font-family: Poppins, "Times New Roman", serif;
    font-size: large;
    border: 2px solid #0024F0;
    background-color: #85FFAC;
    text-align: center;
    margin-bottom: 0.5em;
    border-radius: 10px;
}

header img {
    width: 100%;
    max-width: 100px;
}

header p {
    color: #01AAF5
}

/* Projects */
#projects {
    display: grid;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
    border: 2px solid #0024F0;
    background-color: #85FFAC;
    border-radius: 10px;
}

#projects img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#projects h2 {
    color: #D200EF;
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

#projects h3 {
    color: #D200EF;
}

#projects p {
    color: #D200EF;
}

/* Reviews */
#reviews {
    display: grid;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
    border: 2px solid #0024F0;
    border-radius: 15px;
    background-color: #85FFAC;
    overflow: hidden;
}

.review1, .review2, .review3 {
    border: 2px solid #0024F0;
    border-radius: 10px;
    padding: 20px;
}

#reviews h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
    color: #F00064;
}

#reviews h3, h4, h5 {
    color: #F00064;
    text-align: left;
}

#reviews p {
    color: #F00064;
    text-align: left;
}

/* Footer */
footer {
    text-align: center;
}


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */
    #projects {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Reviews */
    #reviews {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Footer */

}